{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
<h2>Dashboard</h2>
<p>You are logged in as {{ session['username'] }}</p>

    <div class="mb-3" style="text-align: left;">
        <h2>JOHN 1</h2>
        <hr>
        <p>[1] In the beginning was the Word, and the Word was with God, and the Word was God.</p>
        <p>[2] The same was in the beginning with God.</p>
        <p>[3] All things were made by him; and without him was not any thing made that was made.</p>
        <p>[4] In him was life; and the life was the light of men.</p>
        <p>[5] And the light shineth in darkness; and the darkness comprehended it not.</p>
        <p>[6] There was a man sent from God, whose name was John.</p>
        <p>[7] The same came for a witness, to bear witness of the Light, that all men through him might believe.</p>
        <p>[8] He was not that Light, but was sent to bear witness of that Light.</p>
        <p>[9] That was the true Light, which lighteth every man that cometh into the world.</p>
        <p>[10] He was in the world, and the world was made by him, and the world knew him not.</p>
        <p>[11] He came unto his own, and his own received him not.</p>
        <p>[12] But as many as received him, to them gave he power to become the sons of God, even to them that believe on his name:</p>
        <p>[13] Which were born, not of blood, nor of the will of the flesh, nor of the will of man, but of God.</p>
        <p>[14] And the Word was made flesh, and dwelt among us, (and we beheld his glory, the glory as of the only begotten of the Father,) full of grace and truth.</p>
    </div>
{% endblock %}

